@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, video {
  display: block;
}

i, em {
  font-style: italic;
}

*, *:before, *:after {
  box-sizing: border-box;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group; /* h5bp.com/t */
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: none;
  padding: 0;
  color: #111;
}

@font-face {
  font-family: "Brunswick Grotesque";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/BrunswickGrotesque-Regular.woff2") format("woff2");
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  zoom: 1;
  background: #fff;
  color: #111;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  text-wrap: pretty;
  background: rgb(245, 246, 242);
}
@media (max-width: 768px) {
  body {
    padding-bottom: 2.5vw;
  }
}

a {
  color: #111;
  border: 0;
  text-decoration: none;
}

a:hover {
  color: #111;
  border: 0;
  text-decoration: none;
}

::selection {
  background: #ddd;
  color: #111;
  text-shadow: none;
}

body * {
  text-wrap: pretty;
  -webkit-text-highlight-color: transparent;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: top 600ms, left 600ms, height 600ms;
  animation: mapIn 3000ms forwards;
  z-index: 1;
}
@media (max-width: 768px) {
  .map-container {
    pointer-events: none;
    position: relative;
    animation: none;
    height: 80vw;
    display: none;
  }
}

@keyframes mapIn {
  0% {
    transform: translateX(10vw);
  }
  100% {
    transform: translateX(0);
  }
}
.node {
  position: absolute;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.node,
.link {
  opacity: 0;
}

.node .number {
  display: block;
  width: 24px;
  height: 24px;
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.45em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 768px) {
  .node .number {
    font-size: 11px;
    line-height: 1.45em;
  }
}

.secondary-node .number,
.connected-node .number {
  color: #888;
}

.highlighted-node .number,
.current-node .number {
  display: none;
}

.node.newly-visible {
  opacity: 1;
  transition: opacity 1000ms;
}

.link.newly-visible {
  opacity: 1;
  transition: opacity 1000ms;
}

.node.previously-visible {
  opacity: 1;
}

.link.previously-visible {
  opacity: 1;
}

@keyframes newNode {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.node-inner {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 100ms ease-in-out;
}

.node:hover .node-inner {
  transform: translate(-50%, -50%) scale(1.1);
}

.node.information-node .node-inner {
  border: 1px solid #111;
  background: #111;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.current-node.information-node .node-inner {
  background: #111;
}

.node.home-node .node-inner {
  position: relative;
  width: 21px;
  height: 21px;
}

.node.home-node .node-inner::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 21px;
  height: 21px;
  background: url(../img/coloured-node-home.svg) no-repeat center center;
  transform: translate(-50%, -50%);
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.node.node-type-research .node-inner {
  background: url(../img/node-research.svg) no-repeat center center;
  width: 20px;
  height: 20px;
}

.node.current-node.node-type-research .node-inner {
  background: url(../img/coloured-node-research.svg) no-repeat center center !important;
}

.node.secondary-node.node-type-research .node-inner,
.node.connected-node.node-type-research .node-inner {
  background: url(../img/secondary-node-research.svg) no-repeat center center;
}

.node.node-type-initiative .node-inner {
  background: url(../img/node-initiative.svg) no-repeat center center;
  width: 26px;
  height: 26px;
}

.node.current-node.node-type-initiative .node-inner {
  background: url(../img/coloured-node-initiative.svg) no-repeat center center !important;
}

.node.secondary-node.node-type-initiative .node-inner,
.node.connected-node.node-type-initiative .node-inner {
  background: url(../img/secondary-node-initiative.svg) no-repeat center center;
}

.node.node-type-path .node-inner {
  background: url(../img/node-path.svg) no-repeat center center;
  width: 24px;
  height: 24px;
}

.node.current-node.node-type-path .node-inner {
  background: url(../img/coloured-node-path.svg) no-repeat center center !important;
}

.node.secondary-node.node-type-path .node-inner,
.node.connected-node.node-type-path .node-inner {
  background: url(../img/secondary-node-path.svg) no-repeat center center;
}

.node.node-type-artifact .node-inner {
  background: url(../img/node-artifact.svg) no-repeat center center;
  width: 20px;
  height: 20px;
}

.node.current-node.node-type-artifact .node-inner {
  background: url(../img/coloured-node-artifact.svg) no-repeat center center !important;
}

.node.secondary-node.node-type-artifact .node-inner,
.node.connected-node.node-type-artifact .node-inner {
  background: url(../img/secondary-node-artifact.svg) no-repeat center center;
}

.node.highlighted-node:not(.current-node) .node-inner:after {
  content: "";
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.45em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  background: #111;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: blink 1s infinite;
}
@media (max-width: 768px) {
  .node.highlighted-node:not(.current-node) .node-inner:after {
    font-size: 11px;
    line-height: 1.45em;
  }
}

.node.highlighted-node.connected-node:not(.current-node) .node-inner:after,
.node.highlighted-node.secondary-node:not(.current-node) .node-inner:after {
  background: #888;
}

.node-type-initiative.highlighted-node:not(.current-node) .node-inner:after {
  top: 60%;
}

.node.information-node:not(.current-node) {
  cursor: help;
}

.node.information-node:not(.current-node) .node-inner:after {
  content: "";
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.45em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  background: rgb(245, 246, 242);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .node.information-node:not(.current-node) .node-inner:after {
    font-size: 11px;
    line-height: 1.45em;
  }
}

.node.secondary-node:not(.current-node) {
  color: #888;
}

.node.current-node .node-inner:after {
  content: "×";
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.45em;
  letter-spacing: -0.01em;
  position: absolute;
  border-radius: 50%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .node.current-node .node-inner:after {
    font-size: 14px;
    line-height: 1.45em;
  }
}

.node.current-node.node-type-initiative .node-inner:after {
  top: 55%;
}

.node.information-node.current-node .node-inner:after {
  color: rgb(245, 246, 242);
}

.node-label {
  display: block;
  position: absolute;
  width: 150px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -3px);
  pointer-events: none;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  transition: opacity 200ms;
}
@media (max-width: 768px) {
  .node-label {
    display: none;
  }
}

@media (max-width: 768px) {
  .root-node .node-label {
    display: block;
  }
}

.node:not(.current-node)[data-theme-id]:before {
  content: attr(data-theme-id);
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.45em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .node:not(.current-node)[data-theme-id]:before {
    font-size: 11px;
    line-height: 1.45em;
  }
}

.nodes-filtered .node:not(.connected-node).theme-node .node-label,
.node.theme-node:hover .node-label {
  opacity: 1;
}

.node.connected-node .node-label {
  color: #888;
}

.node .node-label span {
  display: inline-block;
}

.node-label h2 {
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.45em;
  letter-spacing: -0.01em;
  background: rgb(245, 246, 242);
  display: inline;
  border-radius: 5px;
  padding: 1px 3px;
}
@media (max-width: 768px) {
  .node-label h2 {
    font-size: 14px;
    line-height: 1.45em;
  }
}
@media (max-width: 768px) {
  .node-label h2 {
    padding: 2px 4px;
  }
}

.node-label h3 {
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.45em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #888;
  border-radius: 3px;
  background: rgb(245, 246, 242);
  display: inline;
  padding: 1px 3px;
  position: relative;
  top: 2px;
  opacity: 0;
  transition: opacity 200ms;
}
@media (max-width: 768px) {
  .node-label h3 {
    font-size: 11px;
    line-height: 1.45em;
  }
}
@media (max-width: 768px) {
  .node-label h3 {
    padding: 2px 4px;
  }
}

.root-node .node-label h3,
.current-node .node-label h3 {
  opacity: 1;
}

.node:hover .node-label h3 {
  opacity: 1;
}

.node.visited:not(.current-node) h2 {
  text-decoration: line-through;
  text-decoration-color: #111;
  text-decoration-style: solid;
}

.node.visited:not(.current-node) h3,
.node.connected-node.visited:not(.current-node) h2 {
  text-decoration: line-through;
  text-decoration-color: #888;
  text-decoration-style: solid;
}

.link {
  stroke: #111;
  stroke-width: 1px;
  fill: none;
}

.link.theme-link {
  stroke-dasharray: 0;
}

.link.information-link {
  stroke-dasharray: 0;
}

.link.secondary-link {
  stroke-dasharray: 5, 5;
  stroke-width: 1px;
  stroke: #888;
}

.link.node-type-initiative {
  stroke-dasharray: 5, 5;
  stroke-width: 1px;
}

.link.connected-link {
  stroke-dasharray: 2, 10;
  stroke-width: 2px;
  stroke: #888;
}

.slider-container {
  position: absolute;
  bottom: calc(5vh - 20px);
  left: 30vw;
  transform: translate(-50%, -50%);
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 300ms;
  z-index: 100003;
  display: none;
}

.page-open .slider-container {
  opacity: 0;
  pointer-events: none;
}

.date-slider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  position: relative;
  padding: 0;
  margin: 0;
  cursor: grab;
  outline: none;
}

.map-playing .date-slider {
  pointer-events: none;
}

.date-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 30px;
  width: 1px;
  background: #FF5F1F;
  cursor: grab;
}

.slider-marks-container {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 5px;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
  z-index: -1;
}

.slider-mark {
  width: 5px;
  height: 5px;
  background: #111;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.slider-mark:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1px solid rgb(245, 246, 242);
}

.mark-active {
  background: #FF5F1F;
}

.slider-marks-background-container {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 5px;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
  z-index: -2;
}

.slider-mark-background {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #111;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider-mark-background:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 1px solid rgb(245, 246, 242);
}

.background-mark-active {
  background: none;
}

.mark-date {
  display: none;
  position: absolute;
  bottom: -36px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.45em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 500;
  background: rgb(245, 246, 242);
  border-radius: 3px;
  padding: 2px 3px 3px;
  user-select: none;
  -webkit-user-select: none;
  display: none !important;
}
@media (max-width: 768px) {
  .mark-date {
    font-size: 11px;
    line-height: 1.45em;
  }
}

.background-mark-active .mark-date {
  display: block;
}

.map-play-button {
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0px;
  width: 20px;
  height: 20px;
  text-align: center;
  display: none;
}

.map-play-button:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #111;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map-playing .map-play-button:after {
  content: "";
  position: absolute;
  border: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  background: #111;
}

.page {
  position: fixed;
  top: 0;
  left: 75vw;
  bottom: 0;
  width: 550px;
  transform: translateX(-50%);
  z-index: 2;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .page {
    width: 95vw;
    left: 50%;
    gap: 10px;
  }
}

.page-container {
  width: 370px;
  position: relative;
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.45em;
  letter-spacing: -0.01em;
  pointer-events: all;
}
@media (max-width: 768px) {
  .page-container {
    font-size: 14px;
    line-height: 1.45em;
  }
}
@media (max-width: 768px) {
  .page-container {
    width: 100%;
  }
}

.everything .page-container {
  display: none;
}

.page-container:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 20px;
  height: 25px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  pointer-events: none;
  border-radius: 0 0 0 7px;
  opacity: 0;
  transition: opacity 800ms cubic-bezier(0.16, 1, 0.3, 1);
}
@media (max-width: 768px) {
  .page-container:after {
    display: none;
  }
}

.show-gradient .page-container:after {
  opacity: 1;
}

.main-content {
  overflow-y: auto;
  border-radius: 7px;
  -webkit-overflow-scrolling: touch;
  transition: height 800ms cubic-bezier(0.16, 1, 0.3, 1);
  height: 0;
  position: relative;
  background-color: rgb(255, 255, 255);
}

.content-group + .content-group {
  margin-top: 10px;
}

.header-content {
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  padding: 14px 25px 12px;
  margin-bottom: 5px;
  display: none;
  cursor: pointer !important;
  width: 100%;
  user-select: none;
  transition: background-color 200ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media (max-width: 768px) {
  .header-content {
    padding: 5vw 5vw 5vw;
  }
}

.header-content .icon-home {
  background: url(../img/icon-home.svg) center center no-repeat;
  background-size: 10px 10px;
  background-position: 0 center;
}

.page-open .header-content {
  display: block;
}

.header-content .page-titles-type {
  border-bottom: none !important;
  padding-bottom: 0 !important;
}

.group {
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  padding: 22px 25px 21px;
}
@media (max-width: 768px) {
  .group {
    padding: 5vw 5vw 5vw;
  }
}

.page-content {
  display: none;
}

.page-open .page-content {
  display: block;
}

.page-titles-type {
  padding-top: 0 !important;
  border-bottom: none !important;
  cursor: default;
  position: relative;
}

.page-main-title {
  margin-left: 23px;
  margin-top: 5px;
}

.page-main-title h3,
.page-main-title h4 {
  color: #888;
}

.page-main-title h4 {
  margin-top: 2px;
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.45em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .page-main-title h4 {
    font-size: 11px;
    line-height: 1.45em;
  }
}

.page-main-title .email {
  margin-top: 10px;
  position: relative;
}

.page-main-title .telephone {
  position: relative;
}

.page-main-title .email a,
.page-main-title .telephone a {
  color: #888;
}

.email:before {
  content: "E";
  position: absolute;
  left: -23px;
  color: #888;
}

.telephone:before {
  content: "T";
  position: absolute;
  left: -23px;
  color: #888;
}

.close-page {
  margin-left: auto;
  width: 20px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  position: absolute;
  top: -7px;
  right: -5px;
}

.close-page:after {
  content: "×";
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.45em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  font-size: 14px;
  position: relative;
  top: -2px;
}
@media (max-width: 768px) {
  .close-page:after {
    font-size: 11px;
    line-height: 1.45em;
  }
}
@media (max-width: 768px) {
  .close-page:after {
    font-size: 15px;
    line-height: 15px;
  }
}

.back-page {
  margin-left: auto;
  width: 20px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  position: absolute;
  top: -6px;
  right: 14px;
  display: none;
}

.back-page:after {
  content: "←";
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.45em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  font-size: 15px;
  position: relative;
  top: -2px;
}
@media (max-width: 768px) {
  .back-page:after {
    font-size: 11px;
    line-height: 1.45em;
  }
}

.page-content-inner {
  padding: 20px 0 0px 0;
}

.tabs {
  display: flex;
  flex-direction: column;
}

.page-content-inner + .tabs,
.page-titles + .tabs {
  padding-top: 25px;
}

.website-credit {
  margin-top: 18px;
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.45em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  letter-spacing: 0em;
  text-transform: none;
  text-indent: 23px !important;
  color: #888;
  border-top: 1px dashed #888;
  padding-top: 17px;
}
@media (max-width: 768px) {
  .website-credit {
    font-size: 11px;
    line-height: 1.45em;
  }
}

p.website-credit a {
  color: #888;
  text-decoration: none;
}

p.website-credit:before {
  content: "i.";
  left: 0px;
  position: absolute;
}

.page-index {
  display: flex;
  flex-direction: column;
}

.page-open .page-index {
  display: none;
}

.page-tab {
  width: 100%;
}

.tab-titles,
.page-titles-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px dashed #111;
  cursor: pointer;
  user-select: none;
}
@media (max-width: 768px) {
  .tab-titles,
  .page-titles-type {
    padding: 15px 0;
  }
}

.page-tab:first-child .tab-titles {
  padding-top: 0;
}

.page-tab:not(.tab-open):last-child .tab-titles {
  padding-bottom: 0;
  border-bottom: none;
}

.tab-open .tab-titles {
  border-bottom: none;
}

.tab-icon {
  width: 13px;
  height: 13px;
}

.icon-home {
  background: url(../img/icon-home.svg) center center no-repeat;
  background-size: 10px 10px;
  background-position: 0 center;
}

.tab-open .icon-home,
.tab-titles:hover .icon-home {
  background: url(../img/icon-home.svg) center center no-repeat;
  background-size: 10px 10px;
  background-position: 0 center;
}

.icon-initiative {
  background: url(../img/current-node-initiative.svg) center center no-repeat;
  background-size: 12px 12px;
}

.icon-path {
  background: url(../img/current-node-path.svg) center center no-repeat;
  background-size: 11px 11px;
}

.icon-research {
  background: url(../img/current-node-research.svg) center center no-repeat;
  background-size: 9px 9px;
}

.icon-artifact {
  background: url(../img/current-node-artifact.svg) center center no-repeat;
  background-size: 10px 10px;
}

.icon-meta {
  background: url(../img/icon-meta.svg) center center no-repeat;
  background-size: 10px 10px;
  background-position: 0 1px;
}

.icon-links {
  background: url(../img/icon-links.svg) center center no-repeat;
  background-size: 9px 9px;
  background-position: 0 1px;
}

.icon-recognition {
  background: url(../img/icon-recognition.svg) center center no-repeat;
  background-size: 10px 10px;
  background-position: 0 1px;
}

.icon-information {
  background: url(../img/icon-information.svg) center center no-repeat;
  background-size: 9px 9px;
  background-position: 0 1.5px;
}

.icon-media {
  background: url(../img/icon-media.svg) center center no-repeat;
  background-size: 10px 10px;
  background-position: 0 1px;
}

.icon-connections {
  background: url(../img/icon-connections.svg) center center no-repeat;
  background-size: 12px 12px;
  background-position: 0 0px;
}

.tab-title {
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.45em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .tab-title {
    font-size: 11px;
    line-height: 1.45em;
  }
}

.tab-indicator {
  margin-left: auto;
}

.tab-indicator:after {
  content: "+";
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.45em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  position: relative;
  top: -2px;
}
@media (max-width: 768px) {
  .tab-indicator:after {
    font-size: 11px;
    line-height: 1.45em;
  }
}
@media (max-width: 768px) {
  .tab-indicator:after {
    font-size: 15px;
    line-height: 15px;
  }
}

.tab-titles:hover .tab-indicator:after {
  content: "↓";
  font-size: 12px;
  top: 0;
}
@media (max-width: 768px) {
  .tab-titles:hover .tab-indicator:after {
    top: -2px;
    font-size: 14px;
    content: "+";
  }
}

.index-indicator:after {
  content: "←";
  font-size: 13px;
  top: 0;
}

.tab-open .tab-indicator:after {
  content: "–";
}

.tab-open .tab-titles:hover .tab-indicator:after {
  content: "↑";
  font-size: 12px;
  top: 0;
}
@media (max-width: 768px) {
  .tab-open .tab-titles:hover .tab-indicator:after {
    top: -2px;
    font-size: 14px;
    content: "–";
  }
}

.tab-content {
  display: none;
}

.tab-open .tab-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 10px;
  border-top: 1px dashed #111;
}

.page-tab:last-child .tab-content {
  padding-bottom: 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 768px) {
  .list {
    gap: 10px;
  }
}

.tab-description {
  margin-top: 5px;
  margin-bottom: 15px;
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.45em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  letter-spacing: 0em;
  text-transform: none;
  text-indent: 0 !important;
  margin-left: 23px;
}
@media (max-width: 768px) {
  .tab-description {
    font-size: 11px;
    line-height: 1.45em;
  }
}
@media (max-width: 768px) {
  .tab-description {
    margin-bottom: 15px;
  }
}

.tab-description:before {
  content: "i.";
  margin-left: -23px;
  position: absolute;
}

.list li {
  display: flex;
  flex-direction: column;
}

li + li.year-group {
  margin-top: 10px;
}

li.year-group {
  margin-left: 23px;
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.45em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #111;
}
@media (max-width: 768px) {
  li.year-group {
    font-size: 11px;
    line-height: 1.45em;
  }
}

.list a {
  display: flex;
  flex-direction: row;
}

.item-id {
  width: 23px;
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.45em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  flex-shrink: 0;
  position: relative;
}
@media (max-width: 768px) {
  .item-id {
    font-size: 11px;
    line-height: 1.45em;
  }
}

.tab-metadata li {
  margin-left: 23px;
}

.meta-subtitle {
  display: block;
}

.meta-subtitle p {
  text-indent: 0 !important;
}

.meta-title,
.link-address {
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.45em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #888;
  margin-top: 2px;
  display: block;
}
@media (max-width: 768px) {
  .meta-title,
  .link-address {
    font-size: 11px;
    line-height: 1.45em;
  }
}

.item-id span {
  display: none;
}

.item-id.highlighted:after,
.index-link:hover .item-id:after {
  content: "✶";
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 0;
  top: 2px;
  left: 0px;
  position: relative;
  color: #111;
}
@media (max-width: 768px) {
  .item-id.highlighted:after,
  .index-link:hover .item-id:after {
    top: 11px;
  }
}

.index-link:hover .item-id:after {
  content: "●";
  font-size: 7px;
  top: 0;
  left: 1.5px;
}

.index-link.visited h2 {
  text-decoration: line-through;
  text-decoration-color: #111;
  text-decoration-style: solid;
}

.index-link.visited h3 {
  text-decoration: line-through;
  text-decoration-color: #888;
  text-decoration-style: solid;
}

.item-id.highlighted {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.item-title {
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.45em;
  letter-spacing: -0.01em;
  flex-shrink: 0;
  width: 290px;
}
@media (max-width: 768px) {
  .item-title {
    font-size: 14px;
    line-height: 1.45em;
  }
}
@media (max-width: 768px) {
  .item-title {
    width: 90%;
  }
}

.item-title span {
  display: block;
}

.item-title h3 {
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.45em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #888;
  margin-top: 2px;
}
@media (max-width: 768px) {
  .item-title h3 {
    font-size: 11px;
    line-height: 1.45em;
  }
}

.footnotes {
  margin-top: 10px;
  position: relative;
  color: #888;
}

.footnotes:before {
  content: "";
  position: absolute;
  top: -11px;
  width: 8px;
  height: 1px;
  background: #111;
  display: none;
}

.footnote {
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.45em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  letter-spacing: 0em;
  text-transform: none;
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .footnote {
    font-size: 11px;
    line-height: 1.45em;
  }
}

.footnote-id {
  width: 23px;
  flex-shrink: 0;
}

.footnote-content {
  flex-shrink: 1;
  text-indent: 0;
}

.footnote-content a {
  color: #111;
}

.footnote-content p {
  text-indent: 0 !important;
}

.page-container p {
  text-indent: 23px;
}

p a,
p a:hover,
p button span,
p button:hover span {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #111;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

p a:hover,
p button:hover span {
  text-decoration-style: dashed;
}

.read-more {
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.45em;
  letter-spacing: -0.01em;
}
@media (max-width: 768px) {
  .read-more {
    font-size: 14px;
    line-height: 1.45em;
  }
}

.read-more:before {
  content: "— ";
}

.extended-description {
  display: none;
}

.extended-description-open .extended-description {
  display: block;
}

.tab-media .tab-content {
  padding-top: 5vw;
}

.media-item {
  overflow: hidden;
  border-radius: 5px;
  width: 250px;
  position: absolute;
  transform: scale(0.9);
  opacity: 0;
  transition: transform 400ms cubic-bezier(0.16, 1, 0.3, 1), opacity 400ms cubic-bezier(0.16, 1, 0.3, 1), top 400ms cubic-bezier(0.16, 1, 0.3, 1), left 400ms cubic-bezier(0.16, 1, 0.3, 1), right 400ms cubic-bezier(0.16, 1, 0.3, 1), bottom 400ms cubic-bezier(0.16, 1, 0.3, 1), margin 30ms;
  pointer-events: none;
  z-index: -1;
}
@media (max-width: 768px) {
  .media-item {
    width: 100%;
    position: static;
    width: auto;
    overflow: visible;
    z-index: 1;
  }
}

.media-landscape {
  width: 360px;
}
@media (max-width: 768px) {
  .media-landscape {
    width: 100%;
  }
}

.media-item.show-media-item {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
  transition: transform 800ms cubic-bezier(0.16, 1, 0.3, 1), opacity 800ms cubic-bezier(0.16, 1, 0.3, 1), top 800ms cubic-bezier(0.16, 1, 0.3, 1), left 800ms cubic-bezier(0.16, 1, 0.3, 1), right 800ms cubic-bezier(0.16, 1, 0.3, 1), bottom 800ms cubic-bezier(0.16, 1, 0.3, 1), margin 30ms;
}

.media-index-1 {
  top: 15%;
  left: 10%;
}

.media-index-1.show-media-item {
  top: 5%;
  left: 0%;
}

.media-index-2 {
  bottom: 15%;
  right: 15%;
}

.media-index-2.show-media-item {
  bottom: 5%;
  right: 5%;
}

.media-index-3 {
  top: 20%;
  right: 10%;
}

.media-index-3.show-media-item {
  top: 10%;
  right: 0;
}

.media-index-4 {
  bottom: 20%;
  left: 15%;
}

.media-index-4.show-media-item {
  bottom: 10%;
  left: 5%;
}

.media-item img,
.media-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  cursor: zoom-in;
}

.media-open img,
.media-open video {
  opacity: 0;
}

.media-item a {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  font-family: "Brunswick Grotesque", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.45em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-transform: capitalize;
  letter-spacing: 0em;
  padding: 2px 5px;
  transition: background-color 200ms;
}
@media (max-width: 768px) {
  .media-item a {
    font-size: 11px;
    line-height: 1.45em;
  }
}
@media (max-width: 768px) {
  .media-item a {
    bottom: 2.5vw;
    left: 2.5vw;
  }
}

.media-item a:hover {
  background-color: rgb(255, 255, 255);
}

.media-item a:after {
  content: "↗";
  margin-left: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.gallery {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  cursor: zoom-out;
  background: rgba(0, 0, 0, 0.9);
}

.gallery img,
.gallery video {
  border-radius: 5px;
}

.gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 10, 10, 0);
  z-index: 1000;
  overflow: hidden;
  transition: all 0.5s ease;
}

.gallery-in {
  background-color: rgba(10, 10, 10, 0.95);
}

.gallery img, .gallery video {
  position: absolute;
  transition: all 0.5s ease; /* Smooth transition for scaling and moving */
  object-fit: contain; /* Maintain aspect ratio */
}

/*# sourceMappingURL=app.css.map */
